html {
    box-sizing: border-box;  /* Сохранение внешних размеров */
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;  /* Наследовать дочерними элементами */
  }
  
  a {
    color: inherit;  /* Наследовать дочерними элементами */
    text-decoration: none;  /* Отключить декорацию */
  }
  
  img {
    max-width: 100%;  /* Занимать всю ширину */
  }
  
@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'),
    url('../fonts/OpenSansLight.woff2') format('woff2'),
    url('../fonts/OpenSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;  /* Не меньше 320px (адаптив) */
    font-family: 'OpenSans', sans-serif;  /* По умолчанию */
    font-weight: 400;
}

/* var */
:root {
    --gap: 30px;  /* Отступ (адаптив) */
}
  
/* glob */
.list-reset {  /* Сбрасываем визуальные стили для списков */
margin: 0;
padding: 0;
list-style: none;
}

.btn-reset {  /* Сбрасываем визуальные стили для кнопок */
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    position: relative;
    outline: none;
    border-radius: 3px;
    padding: 15px 35px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3172B9;
    transition: background-color 0.3s ease-in-out;  /* Фон кнопки плавно будет меняться в состоянии hover */

}

.btn::after {
    content: "";
    position: absolute;
    /* Растянем псевдоэлемент почти на весь родительский элемент (на 3px меньше с каждой стороны) */
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border-radius: inherit;  /* Закругление раследуется от кнопки */
    border: 1px solid #3172B9;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;  /* Обводка кнопки плавно будет меняться в состоянии hover */
}

.btn:focus::after {
    opacity: 1;
}

.btn:hover {  /* Меняем цвет кнопки при наведении */
    background-color: #71A7E2;
}

.btn:active {  /* Меняем цвет кнопки при нажатии */
    background-color: #0E3B6C;
}

.btn:active::after {  /* Отключаем обводку псевдоэлементом при клике */
    opacity: 0;
}

.flex {  /* Общий стиль для flex-контейнеров */
    display: flex;
}

.container {  /* Общие свойства для контейнера */
    max-width: 1200px;  /* Ширина контейнера не более 1200px (адаптив) */
    width: 100%;  /* Занимать 100% ширины (адаптив) */
    padding: 0 15px;  /* Боковые отступы по 15px */
    margin: 0 auto;  /* Центрирование по горизонтали */
}

.section-title {  /* Общие свойства для всех заголовков */
    margin: 0;  /* Сбрасываем отступы */
    margin-bottom: 40px;  /* Нижний отступ */
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1C1C1C;
}

.section-desc {  /* Общие свойства для всех описаний */
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #787878;
}

.section-offset {  /* Общие одинаковые отступы для всех секций */
    padding-top: 87px;
    padding-bottom: 160px;
}

/* header */
.header {
    padding: 36px 0;
    border-bottom: 1px solid #DADADA;
    background-color: #fff;
}

.header__container {
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__logo:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.header__nav {
    margin-right: 52px;
}

.nav__item:not(:last-child) {
    margin-right: 52px;
}

.nav__link {
    position: relative;
    font-weight: 600;
    color: #1C1C1C;
    font-size: 15px;
    line-height: 20px;
    /* Свойства, изменяемые в разных состояниях (анимация) */
    transition: color .3s ease-in-out;  /* Изменяемое свойство, время анимации и график изменения свойст (плавность, линейность) */
}

/* ВАЖНО: порядок - focus -> hover -> active */
.nav__link:focus {  /* Добавляем обводку при фокусе (TAB) */
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.nav__link:hover {  /* Меняем цвет ссылок при наведении */
    color: #71A7E2;
}

.nav__link::after {  /* Нижнее подчеркивание (для active) */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3172B9;
    opacity: 0;  /* Делаем прозрачным в обычном состоянии */
    transition: opacity 0.3s ease-in-out;  /* Указываем анимированно изменяемое свойство */
}

.nav__link:active {  /* Св-ва при клике */
    color: #3172B9;
    outline: none;  /* Убираем обводку при клике */
}

.nav__link:active::after {
    color: #3172B9;
    opacity: 1;  /* Делаем нижнее подчеркивание непрозрачным при клике */
}

/* hero */
.hero {
    padding: 100px 0;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url('../img/header-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero__title {
    max-width: 529px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
}

.hero__desc {
    margin: 0;
    margin-bottom: 34px;
    width: 471px;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #787878;
}

.hero__wrapper {
    flex-direction: column;
    align-items: center;
}

.hero__btn {
    min-width: 250px;
    margin-bottom: 14px;
    padding: 19px 58px;
}

.hero__secure {
    padding-left: 27px;
    font-weight: 400;
    font-size: 11px;
    line-height: 155%;
    text-transform: uppercase;
    color: #787878;
    background-image: url('../img/hero-ssl.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 14px 17px;
}

/* services */
.services {
    border-bottom: 1px solid #DADADA;
}

.services__title {
    text-align: center;
    margin-bottom: 21px;
}

.services__desc {
    text-align: center;
    min-width: 589px;
    margin-bottom: 54px;
}

.services__list {  
    --offsets: 3;  /* Сохраняем в переменную кол-во отступов в списке (для использования в формуле services__item) */
    gap: var(--gap);  /* Отступы между карточками */
    flex-wrap: wrap;  /* Перенос карточек при нехватке места */
}

/* Медиа-запросы добавлены в качестве ДЕМОНСТРАЦИИ */
/* При ширине экрана до 1024px меняем св-во --offsets у класса services__list (меняем кол-во отступов (2 отступа (т.е. 3 карточки) в ряду) */
/* @media (max-width: 1024px) {
    .services__list {
        --offsets: 2;
    }
} */

/* При ширине экрана до 768px меняем св-во --offsets у класса services__list (меняем кол-во отступов (1 отступ (т.е. 2 карточки) в ряду) */
/* @media (max-width: 768px) {
    .services__list {
        --offsets: 1;
    }
} */

.services__item {
    flex-direction: column;
    align-items: center;
    /* max-width: 270px;  /* Изначально */
    /* Ширина карочки = (100% от ширины экрана - (n отступов по n px)) / на кол-во блоков (блоков всегда 1 больше, чем отступов!) (адаптив) */
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));  
    min-height: 320px;
    padding: 60px 30px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    /* Плавная смена цвета в состоянии hover */
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.services__item:hover {  /* Меняем цвет карточки при наведении */
    border-color: #3172B9;
    background-color: #3172B9;
    cursor: pointer;  /* Меняем курсор при наведении */
}

/* .services__item:not(:nth-child(4n)) {
    margin-right: 30px;
} */

.services-card__icon {
    fill: #3172B9;
    margin-bottom: 27px;
    transition: fill .3s ease-in-out;
}

/* При наведенеии на карточку (в состоянии hover) у вложенной SVG-картинки будет меняться цвет */
.services__item:hover .services-card__icon {  /* Меняем цвет SVG-картинки при наведении, обратившись через вложенный селектор */
    fill: #fff;
}

.services-card__title {
    margin: 0;
    max-width: 210px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #1C1C1C;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет текста в состоянии hover */
}

/* При наведенеии на карточку (в состоянии hover) у вложенного стиля с заголовком будет меняться цвет */
.services__item:hover .services-card__title {  /* Меняем цвет заголовка при наведении, обратившись через вложенный селектор */
    color: #fff;
}

.services-card__desc {
    margin: 0;
    max-width: 210px;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #787878;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет текста в состоянии hover */
}

/* При наведенеии на карточку (в состоянии hover) у вложенного стиля с описанием будет меняться цвет */
.services__item:hover .services-card__desc {  /* Меняем цвет описания при наведении, обратившись через вложенный селектор */
    color: #fff;
}

/* articles */
.articles {
    border-bottom: 1px solid #DADADA;
}

.articles__list {
    flex-wrap: wrap;
    --offsets: 1;  /* Кол-во отступов по умолчанию (2 карточки в ряду) */
    gap: var(--gap);  /* Отступ между карточками */
}

.articles-card {
    /* width: 570px;  Было */
    /* Ширина карточки расчитывается: ((100% от ширины экрана - (кол-во отступов между карточками * размеры отступа)) / кол-во карточек 
    (карточек всегда на 1 больше, чем отступов)) */
    width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
}

.articles-card__article {
    overflow: hidden;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
}

.articles-card__link {
    position: relative;
    width: 100%;
    transition: background-color .3s ease-in-out;  /* Плавно меняем цвет фона в других состояниях */
}

/* ВАЖНО: порядок - focus -> hover -> active */
.articles-card__link:focus {  /* Меняем свойства при фокусе на карточке (по нажатию TAB) */
    background-color: #71A7E2;
}

/* В фокусе делаем весь текст белым */
.articles-card__link:focus .articles-card__time {
    color: #fff;
}

.articles-card__link:focus .articles-card__title {
    color: #fff;
}

.articles-card__link:focus .articles-card__desc {
    color: #fff;
}

.articles-card__link:hover {  /* Меняем свойства при наведении на карточку */
    background-color: #3172B9;
}

/* При наведении делаем весь текст белым */
.articles-card__link:hover .articles-card__time {
    color: #fff;
}

.articles-card__link:hover .articles-card__title {
    color: #fff;
}

.articles-card__link:hover .articles-card__desc {
    color: #fff;
}

/* Цвет текста остается белым, т.к. одновременно работает состояние focus */
.articles-card__link:active {  /* Меняем свойства при клике по карточке */
    background-color: #0E3B6C;
}

.block-preview-image {
    object-fit: cover;
}

.articles-card__text {
    padding: 30px;
}

.articles-card__time {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 150%;
    color: #787878;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет текста в состоянии hover */
}

.articles-card__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1C1C1C;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет текста в состоянии hover */
}

.articles-card__desc {
    margin: 0;
    max-width: 210px;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет текста в состоянии hover */
}

/* clients */
.clients {
    border-bottom: 1px solid #DADADA;
}

.clients__list {
    flex-wrap: wrap;  /* Перенос карточек при нехватке места */
    gap: var(--gap);  /* Отступы между карточками */
    --offsets: 2;  /* Кол-во отступов между карточками (2 отступа, 3 карточки в ряду) */
}

.clients-card {
    flex-direction: column;
    /* width: 370px;  Было */
    /* Ширина карточки расчитывается: ((100% от ширины экрана - (кол-во отступов между карточками * размеры отступа)) / кол-во карточек 
    (карточек всегда на 1 больше, чем отступов)) */
    width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
    padding: 50px 36px;
    padding-bottom: 30px;
    border: 1px solid #6B6B6B;
    border-radius: 5px;
}

.clients-card__desc {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.clients-card__user {
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #dadada;
    width: 100%;
    padding-top: 28px;
}

.user-block__avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}

.user-block__avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.user-block__name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.user-block__post {
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

/* contacts */
.contacts {
    border-bottom: 1px solid #DADADA;
}

.contacts__address {
    font-style: normal;  /* Сбрасываем наклонный фрифт для текста тега address */
}

.contacts__list {
    flex-wrap: wrap;  /* Перенос карточек при нехватке места */
    gap: var(--gap);  /* Отступы между карточками */
    --offsets: 2;  /* Кол-во отступов между карточками (2 отступа, 3 карточки в ряду) */
}

.contacts-item {
    flex-direction: column;
    /* width: 370px;  Было */
    /* Ширина карточки расчитывается: ((100% от ширины экрана - (кол-во отступов между карточками * размеры отступа)) / кол-во карточек 
    (карточек всегда на 1 больше, чем отступов)) */
    width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
    background-position: left top;  /* Выравнивание фоновой иконки слева сверху */
    background-repeat: no-repeat;  /* Не повторять картинку */
    background-size: 29px 29px;  /* Размеры изображения */
    padding-top: 48px;  /* Верхний отступ, чтобы иконка не налазила сверху */
}

.contacts-item_address-icon {
    background-image: url('../img/location_on.svg');
}

.contacts-item_call-icon {
    background-image: url('../img/phone.svg');
}

.contacts-item_mail-icon {
    background-image: url('../img/mail.svg');
}

.contacts-item__caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.contacts-item__text {
    max-width: 215px;
    margin: 0;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.contacts-item__link {
    display: inline-block;
    margin-right: auto;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    transition: color .3s ease-in-out;  /* Плавно меняем цвет ссылок в состоянии hover */
}

/* ВАЖНО: порядок - focus -> hover -> active */
/* Смена стилей для ссылок при разных состояниях */
.contacts-item__link:focus {
    outline: 1px solid #71A7E2;  /* При фокусе (TAB) */
}

.contacts-item__link:hover {
    color: #71A7E2;  /* При наведении */
}

.contacts-item__link:active {  /* При клике */
    color: #0E3B6C;
    outline: none;  /* Убираем обводку */
}

/* join us */
.join-us {
    border-bottom: 1px solid #DADADA;
}

.join-us__title {
    text-align: center;
}

.join-us__desc {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    padding: 0 55px;
}

.form__top {
    justify-content: space-between;
    margin-bottom: 19px;
    height: 138px;
}

.form__left, .form__right {
    width: 48%;
}

.form__left {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.form__input {
    width: 250px;
    height: 60px;
    box-sizing: border-box;
    padding: 15px 28px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    margin-bottom: 19px;
    /* Плавная смена фона и обводки в состоянии hover и active */
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

/* ВАЖНО: порядок - focus -> hover -> active */
.form__input:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
}

.form__input:hover {
    border-color: #71A7E2;
}

.form__input:active {
    border-color: #0E3B6C;
}

.form__select {
    width: 251px;
    height: 60px;
    box-sizing: border-box;
    padding: 15px 28px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    /* Плавная смена фона и обводки в состоянии hover и active */
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.form__select:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
}

.form__select:hover {
    border-color: #71A7E2;
}

.form__select:active {
    border-color: #0E3B6C;
}

.form__textarea {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 15px 28px;
    border: 1px solid #DADADA;
    border-radius: 20px;
    /* Плавная смена фона и обводки в состоянии hover и active */
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.form__textarea:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
}

.form__textarea:hover {
    border-color: #71A7E2;
}

.form__textarea:active {
    border-color: #0E3B6C;
}

.btn_join-us {
    min-width: 230px;
    height: 60px;
    padding: 20px 67px;
    margin-bottom: 9px;
    border-radius: 50px;
}

.form__bottom {
    justify-content: flex-end;
}

.form__wrapper {
    flex-direction: column;
    align-items: center;
}

.form__check {
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.form__check input {
    margin-right: 8px;
}

.form__check a {
    color: #3172B9;
    border-bottom: 1px solid #3172B9;
}

.form__check a:focus,
.form__check input:focus {
    outline-offset: 2px;
    outline: 1px solid #3172B9;
}

/* footer */
.footer {
    padding: 42px 0;
}

.footer__container {
    align-items: center;
    justify-content: space-between;
}

.footer__left, 
.footer__right {
    align-items: center;
}

.footer__logo {
    margin-right: 25px;
}

.footer__logo:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.footer__copy {
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer__nav {
    margin-right: 56px;
}

.nav__item_mr_footer:not(:last-child) {
    margin-right: 28px;
}

.nav__link_color_gray {
    color: #787878;
}

/* ВАЖНО: порядок - focus -> hover -> active */
.footer-link:focus {  /* Добавляем обводку при фокусе (TAB) */
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.footer-link:hover {  /* Меняем цвет ссылок при наведении */
    color: #71A7E2;
}

.footer-link::after {  /* Нижнее подчеркивание (для active) */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3172B9;
    opacity: 0;  /* Делаем прозрачным в обычном состоянии */
    transition: opacity .3s ease-in-out;
}

.footer-link:active {  /* Св-ва при клике */
    color: #3172B9;
    outline: none;  /* Убираем обводку при клике */
}

.footer-link:active::after {
    color: #3172B9;
    opacity: 1;  /* Делаем нижнее подчеркивание непрозрачным при клике */
}

.social {
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 32px;
}

.social__link {
    /* Задаем размеры немного больше для большего удобства при нажатии */
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.social__link svg {
    fill: #000;
    transition: fill .3s ease-in-out, stroke .3s ease-in-out;  /* Плавное изменение цвета при hover и active */
}

/* SVG-картинка для email имела в HTML-верстке прозрачную заливку и черную обводку */
.social__link_mail svg {
    fill: transparent;  /* Прозрачная заливка */
    stroke: #000;  /* Черная обводка */
}

.social__link:focus {
    outline-offset: 2px;  /* Отступление обводки */
    outline: 1px solid #71A7E2;  /* Цвет обводки */
} 

.social__link:hover svg {
    fill: #71A7E2;
}

.social__link_mail:hover svg {
    fill: #fff;
    stroke: #71A7E2;
}

.social__link:active svg {
    fill: #3172B9;
}

.social__link:active {
    outline: none;
}

.social__link_mail:active svg {
    fill: #fff;
    stroke: #3172B9;
}

.social__link_mail:active {
    outline: none;
}